h1{
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: center;
    margin : 10px;
}

#myTextField{
    text-align: center;
}