h1{
    text-align: center;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    display: flex;
    justify-content: center;
    margin : 10px;
}

#myTextField{
    text-align: center;
}

table{
    width: 100%;
    border : 1px solid #333;
    margin-top: 10px;
}
tr,th,td{
    border : 1px solid #333;
    text-align: center;
}